<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="hibernate.connection.url">
            jdbc:postgresql://localhost:5432/summaries_bd?createDatabaseIfNotExist=true&amp;serverTimezone=UTC
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.driver_class">
            org.postgresql.Driver
        </property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.default_schema">summaries_shema</property>

        <mapping class="it.academy.Applicants"/>
        <mapping class="it.academy.CompetencesType"/>
        <mapping class="it.academy.Contacts"/>
        <mapping class="it.academy.ContactsType"/>
        <mapping class="it.academy.GenderType"/>
        <mapping class="it.academy.Summaries"/>

    </session-factory>
</hibernate-configuration>